numpy==1.26.4
pandas
timm 
torch 
torchvision 
torchaudio 
tensorflow==2.19.0
scikit-learn
seaborn==0.13.2 
opencv-python
hf_xet
sentence-transformers
transformers
langchain
langchain-community
langchain-huggingface
huggingface-hub
gTTS
kornia